/* Auth */

.auth {
	&.auth-bg-1 {
		background: url("../images/auth/login_1.jpg");
		background-size: cover;
	}
	&.register-bg-1 {
		background: url("../images/auth/register.jpg") center center no-repeat;
		background-size: cover;
	}
	&.theme-one {
		.auto-form-wrapper {
			background: $white;
			padding: 40px 40px 10px;
			@include border-radius(4px);
      box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
			.form-group {
        &.has-error {
          .input-group {
            .form-control {
              border-color: darken(theme-color(danger), 5%);
              &:focus {
                border-color: darken(theme-color(danger), 5%);
              }
            }
          }
          .help-block {
            color: theme-color(danger);
            font-size: 12px;
          }
        }
				.input-group {
					height: 44px;
					.form-control {
						border: 1px solid darken($border-color, 5%);

						@include border-radius(6px);
						&:focus {
							border-color: darken($border-color, 5%);
						}
          }
        }

				.submit-btn {
					font-family: $type-1;
					font-size: 13px;
					padding: 12px 8px;
          font-weight: 600;
        }
      }
		}
		.auth-footer {
			list-style-type: none;
			padding-left: 0;
			margin-top: 20px;
			margin-bottom: 10px;
			@include display-flex;
			@include justify-content(center);
			li {
				margin-right: 10px;
				line-height: 1;
				padding-right: 10px;
				border-right: 1px solid rgba(255, 255, 255, 0.4);
				&:last-child {
					margin-right: 0;
					border-right: none;
				}
				a {
					font-size: 13px;
					color: rgba(255, 255, 255, 0.4);
				}
			}
			@include media-breakpoint-down(sm) {
				@include justify-content(center);
			}
		}
		.footer-text {
			color: rgba(255, 255, 255, 0.4);
		}
	}
}
